* text=auto !eol
wetator-jenkins-plugin-0.1/.classpath -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/.project -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/.settings/org.maven.ide.eclipse.prefs -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/LICENSE.txt -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/ToDo.txt -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/pom.xml -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/History.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/PluginImpl.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/WetatorBuildReport.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/WetatorProjectReport.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/WetatorRecorder.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/parser/Path.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/parser/WetatorResultParser.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/AbstractBaseResult.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/BrowserResult.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/StepError.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/TestFileResult.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/TestResult.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/result/TestResults.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/util/AtomicGZIPFileWriter.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/java/org/wetator/jenkins/util/GZIPXMLFile.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/index.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/History/index.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/History/index.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/History/index_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/Messages.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/Messages_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorBuildReport/resultSummary.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorBuildReport/resultSummary.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorBuildReport/resultSummary_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorBuildReport/summary.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorBuildReport/summary_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorProjectReport/floatingBox.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorProjectReport/floatingBox_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/config.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/config.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/config_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-failureThreshold.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-failureThreshold_de.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-testResults.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-testResults_de.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-unstableThreshold.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help-unstableThreshold_de.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/WetatorRecorder/help_de.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/AbstractBaseResult/index.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/AbstractBaseResult/sidepanel.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/AbstractBaseResult/sidepanel_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/BrowserResult/list.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/BrowserResult/list_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/BrowserResult/reportDetail.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/BrowserResult/reportDetail.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/BrowserResult/reportDetail_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestFileResult/list.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestFileResult/list_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestFileResult/reportDetail.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestFileResult/reportDetail.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestFileResult/reportDetail_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/bar.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/bar.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/bar_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/list.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/list_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/reportDetail.jelly -text
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/reportDetail.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/resources/org/wetator/jenkins/result/TestResults/reportDetail_de.properties -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/webapp/help-globalConfig.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/webapp/help-projectConfig.html -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/main/webapp/icons/wetator-48x48.png -text
wetator-jenkins-plugin-0.1/src/test/java/org/wetator/jenkins/AllTests.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/test/java/org/wetator/jenkins/parser/AllTests.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/test/java/org/wetator/jenkins/parser/PathTest.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/test/java/org/wetator/jenkins/parser/WetatorResultParserTest.java -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/test/resources/wetresult.xml -text svneol=unset#text/plain
wetator-jenkins-plugin-0.1/src/test/resources/wetresult2.xml -text svneol=unset#text/plain
